@media (width > 890px) {
    .seznam-epizod {
        max-width: 200ch;
        margin: 20px auto;

        & h2 {
            margin-bottom: 25px;
        }

        & .card small {
            font-size: 1.9rem;
        }
    }
}