@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

:root {
    cursor: url("/images/mouse.png"), auto;
    font-size: 62.5%;
    --back-nav-color: #7ca4bd;
    --hover-color: #fffbc7;
    --background-color: #a6c1d6;
    --header-height: 7rem;
    --icon-size: 49px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--hover-color); /* or add it to the track */
}

body {
    font-size: initial;
    font-family: "Jersey 10", VT323, system;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        cursor:
            url("/images/hover.png") 15 23,
            auto;
    }
    &:visited {
        color: black;
    }
}
