.images {
    padding: 15px;

    & h2 {
        margin: 20px 0;
        text-align: center;
    }

    & .img-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.full-photo {
    background-color: rgba(0, 0, 0, 0.904);
    position: fixed;
    inset: 0;
    z-index: 1000;
    padding: 30px;
    transform: translateY(-100%);
    transition:
        transform 1s,
        opacity 500ms;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;

    &.open {
        transform: translateY(0);
        opacity: 1;
    }

    & .content {
        & img {
            max-height: 90vh;


        }
    }

    & .close-button {
        position: absolute;
        top: 30px;
        right: 30px;

        & img {
            filter: invert();
        }
    }
}