h2 {
    text-align: center;
    margin: 25px 0 25px 0;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 15px 15px 15px;

    & .card {
        border-radius: 15px;
        overflow: hidden;

        box-shadow:
            5px 5px 10px #94acbe,
            -5px -5px 10px #b8d6ee7e;
        padding: 2rem;

        & img {
            border-radius: 10px;
            float: left;
            max-width: 150px;
            margin-right: 15px;
            margin-bottom: 15px;
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.247));
        }

        & h3 {
            margin-bottom: 15px;
        }
    }
}