.series {
    padding-bottom: 5rem;
}

h2 {
    text-align: center;
    margin: 15px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    & .card {
        width: 35rem;

        & .card-inner {
            position: relative;
            aspect-ratio: 25/38;
            border-radius: 1.25rem;
            border-bottom-right-radius: initial;
            overflow: hidden;

            .imgBox {
                position: absolute;
                inset: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: bottom;
                }
            }

            .icon {
                position: absolute;
                bottom: -0.375rem;
                right: -0.375rem;
                width: 8rem;
                aspect-ratio: 1/1;
                background: var(--background-color);
                border-top-left-radius: 50%;

                &::before {
                    position: absolute;
                    content: "";
                    bottom: 0.375rem;
                    left: -1.25rem;
                    width: 1.25rem;
                    height: 1.25rem;
                    border-bottom-right-radius: 1.25rem;
                    box-shadow: 0.313rem 0.313rem 0 0.313rem var(--background-color);
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: -1.25rem;
                    right: 0.375rem;
                    width: 1.25rem;
                    height: 1.25rem;
                    border-bottom-right-radius: 1.25rem;
                    box-shadow: 0.313rem 0.313rem 0 0.313rem var(--background-color);
                }

                & .iconBox {
                    position: absolute;
                    inset: 0.625rem;
                    display: flex;
                    justify-content: center;
                    animation: icon 500ms alternate infinite;

                    & img {
                        width: 6rem;
                    }
                }
            }
        }

        & .content {
            border-radius: 1.25rem;
            margin-top: 15px;
            text-align: center;
            padding: 10px;
            box-shadow:
                5px 5px 10px #94acbe,
                -5px -5px 10px #b8d6ee7e;

            &>* {
                margin-bottom: 5px;
            }
        }
    }
}

@keyframes icon {
    from {
        transform: translate(3px, 3px) scale(1);
    }

    to {
        transform: translate(0) scale(1.05);
    }
}