@media screen and (min-width: 768px) {
    html {
        scroll-behavior: smooth;
    }

    section {
        scroll-margin: 30vh;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .top-nav {
        display: block;

        & .menu-items {
            display: flex;
            height: 100%;
            max-width: 1000px;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;

            & a {
                color: var(--color-text-light);
                font-size: 2rem;
                text-decoration: none;

                &:visited {
                    color: var(--color-text-light);
                }
            }
        }

        & .menu-buttons {
            display: none;
        }
    }

    .hero-section {
        h1 {
            font-size: 9.6rem;
        }
    }

    .about-us>.page-max-width {
        display: flex;
        gap: 45px;

        &>div {
            flex: 1;
        }
    }

    .what-we-do {
        & .icons {
            flex-direction: row;
            justify-content: space-around;
            margin-top: 80px;
        }
    }

    .desktop-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        &>div {
            margin: 0;
            flex: 1 1 30%;

            & img {
                margin: 0;
            }
        }

        & div:has(> h2) {
            display: flex;
            margin-bottom: 0;

            & h2 {
                margin: auto;
            }
        }
    }

    .offer-contact .page-max-width {
        display: flex;
        gap: 30px;

        &>div {
            flex: 1;
        }

        & .offer-container {
            flex: 2;
        }
    }

    .reviews .page-max-width {
        &>div:first-child {
            margin: 0 auto;
            max-width: 332px;
        }

        & .reviews-wrapper {
            display: flex;
            gap: 110px;
        }
    }

    .images {
        display: flex;
        flex-wrap: wrap;

        & div {
            flex-basis: 50%;
        }
    }

    footer {
        position: relative;

        & a {
            display: inline-block;

            &:hover {
                color: var(--color-link-hover);
                transform: scale(1.3);
            }
        }
    }

    .anchor {
        display: block;
        position: fixed;
        right: 15px;
        bottom: 25px;
        z-index: 999;
        background-color: var(--color-link-hover);
        filter: drop-shadow(0 0 2px rgb(51, 49, 49));

        & img {
            filter: invert();
            padding: 10px;
        }

        animation: floating 1.5s infinite linear(0 0%,
            0 2.27%,
            0.02 4.53%,
            0.04 6.8%,
            0.06 9.07%,
            0.1 11.33%,
            0.14 13.6%,
            0.25 18.15%,
            0.39 22.7%,
            0.56 27.25%,
            0.77 31.8%,
            1 36.35%,
            0.89 40.9%,
            0.85 43.18%,
            0.81 45.45%,
            0.79 47.72%,
            0.77 50%,
            0.75 52.27%,
            0.75 54.55%,
            0.75 56.82%,
            0.77 59.1%,
            0.79 61.38%,
            0.81 63.65%,
            0.85 65.93%,
            0.89 68.2%,
            1 72.7%,
            0.97 74.98%,
            0.95 77.25%,
            0.94 79.53%,
            0.94 81.8%,
            0.94 84.08%,
            0.95 86.35%,
            0.97 88.63%,
            1 90.9%,
            0.99 93.18%,
            0.98 95.45%,
            0.99 97.73%,
            1 100%);
    }
}

@keyframes floating {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(15px);
    }
}