.top-nav {
    position: relative;
    background-color: var(--color-background-dark);
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 25px;

    & .menu-items {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(145, 140, 140, 0.842);
        backdrop-filter: blur(8.2px);


        & a {
            text-decoration: none;
            padding: 10px 15px;
            color: var(--color-text-dark);
        }
    }

    & .close-menu-icon {
        display: none;
    }
}

.hero-section {
    background-image: url(../images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 90dvh;

    & .page-max-width {
        display: flex;
        height: 100%;
        justify-content: end;
        align-items: flex-end;
    }

    & h1 {
        font-size: 4.2rem;
        width: min-content;
        text-align: right;
        color: var(--color-text-light);
        margin-bottom: 55px;
    }
}

.anchor {
    display: none;
}

.about-us {
    padding: 65px 0;

    & h2 {
        margin-bottom: 30px;
    }

    & p {
        text-align: left;
        margin-bottom: 40px;
    }
}

.what-we-do {
    background-color: var(--color-background-dark);
    padding: 65px 0;

    & h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    color: var(--color-text-light);

    & p:first-of-type {
        text-align: center;
        margin-bottom: 40px;
    }

    & .icons {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .icon {
            & img {
                filter: invert();
                width: 80px;
                height: 80px;
            }

            & p {
                margin-top: var(--margin-top-icons);
                margin-bottom: var(--margin-bottom-icons);
            }
        }
    }
}

.our-trips {
    padding: 65px 0;

    & img {
        margin-bottom: 15px;
    }

    & div:has(> h2) {
        background-color: var(--color-background-white);
    }

    & h2 {
        text-align: center;
        padding: 30px 0;
        margin-bottom: 15px;
        border-radius: var(--border-radius);
    }
}

.offer-contact {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
    padding: 65px 0;

    & h2 {
        margin-bottom: 60px;
    }

    & p {
        text-align: left;
        margin-bottom: 60px;
    }

    & a {
        text-decoration: none;
        font-weight: bold;
        background-color: var(--color-background-white);
        color: var(--color-text-dark);
        padding: 12px 12px;
        border-radius: var(--border-radius);

        &:visited {
            color: var(--color-text-dark);
        }
    }
}

.reviews {
    padding: 65px 0;

    & h2 {
        text-align: center;
    }

    & p {
        text-align: center;
        margin-top: 35px;
    }

    &>div>div:not(.reviews-wrapper)>p {
        margin-bottom: 70px;
    }

    & .profile-icon {
        border-radius: 200px;
        margin: 0 auto;
    }

    & .review-wrapper1 {
        margin-bottom: 55px;
    }

    & .review-name {
        font-weight: bold;
    }
}

footer {
    background-color: var(--color-background-gray);
    padding: 30px 0;
    text-align: center;

    & a {
        text-decoration: none;
        color: var(--color-link);

        &:visited {
            color: var(--color-link);
        }
    }

    & p {
        color: var(--color-text-light);
        padding-top: 7px;
    }
}